*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

html {
/*
  This defines what 1rem is
  1 rem = 10px; 10px/16px = 62.5%
*/ 
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.paddingHorizontal {
  @include paddingHorizontal(5rem,5rem);

  @include respond($bp-small){
    @include paddingHorizontal(2rem,2rem);
  }
}

body {
  box-sizing: border-box;
}

.sectionArea{
  @include flexCenter(center,center);
  @include paddingHorizontal(8%,8%);
  @include paddingVertical(7%,7%);

  @include respond($bp-small){
    @include paddingHorizontal(2rem,2rem);
  }

  & h3.sectionTitle{
    align-self: flex-start;
    @include marginVertical(0rem,5.4rem);
    font-size: 2.4rem;

    @include respond($bp-small){
      @include marginVertical(1rem,2rem);
      font-size: 2rem;
    }
  }
}

.section-container{
  @include marginHorizontal(auto,auto);
  max-width: $maxWight;
}

// color for text
.light-color {
  color:$color-dark-second;
}

.dark-color {
  color:$color-white;
}

.light-color-second {
  background: linear-gradient(to bottom, $color-purple, $color-purple-second);
  -webkit-background-clip: text;
  color: transparent;
}

.dark-color-second {
  color:$color-white;
}

// color for background
.light-bg {
  background-color:$color-white;
}

.dark-bg {
  background-color:$color-dark;
}

// second
.light-bg-second{
  background-color: $color-white-second;
}
.dark-bg-second {
  background-color:$color-dark-second;
}

// third
.dark-bg-third {
  background-color:$color-gray-second;
}

// fourth
.light-bg-fourth{
  background-color: $color-white-second;
}
.dark-bg-fourth {
  background-color:$color-dark-third;
}

// fifth
.light-bg-fifth{
  background-color: $color-white-second;
}
.dark-bg-fifth {
  background-color:$color-dark-forth;
}


.light-bg-linear{
  background: linear-gradient(to bottom, $color-purple, $color-purple-second);
}

.dark-bg-linear{
  background-color:$color-dark-third;
}