*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

html {
/*
  This defines what 1rem is
  1 rem = 10px; 10px/16px = 62.5%
*/ 
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.paddingHorizontal {
  @include paddingHorizontal(5rem,5rem);

  @include respond($bp-small){
    @include paddingHorizontal(2rem,2rem);
  }
}

body {
  box-sizing: border-box;
}

.sectionArea{
  @include flexCenter(center,center);
  @include paddingHorizontal(8%,8%);
  @include paddingVertical(7%,7%);

  & h3.sectionTitle{
    align-self: flex-start;
    @include marginVertical(0rem,5.4rem);
    font-size: 2.4rem;
  }
}

.light-color {
  color:$color-dark-second;
}

.light-bg {
  background-color:$color-white;
}

.dark-color {
  color:$color-white;
}

.dark-bg {
  background-color:$color-dark;
}

.dark-bg-second {
  background-color:$color-dark-second;
}

.dark-bg-third {
  background-color:$color-gray-second;
}

.dark-bg-fourth {
  background-color:$color-dark-third;
}