.aboutContainer{
  flex-direction: column;

  &-description{
    @include whSize(100%,auto);
    @include flexCenter(center,center);
    flex-direction: row;

    @include respond($bp-medium){
      flex-direction: column;
    }

    &-content{
      @include whSize(40%,auto);

      @include respond($bp-medium){
         @include whSize(100%,auto);
      }

      &:first-child{
        @include whSize(60%,auto);
        align-self: flex-start;

        @include respond($bp-medium){
          @include whSize(100%,auto);
          order:2;
        }

        & h1{
          font-size: 3.2rem;

          @include respond($bp-medium){
            font-size: 2rem;
          }
        }

        & p{
          font-size: 2rem;
          line-height: 3rem;
          @include marginVertical(2.5rem,0rem);

          @include respond($bp-medium){
            font-size: 1.6rem;
          }
        }
      }

      &:last-child{
        @include whSize(40%,auto);
        align-self: flex-end;
        @include marginHorizontal(5rem,0rem);

        @include respond($bp-medium){
          @include whSize(100%,auto);
          order:1;
        }
      }
      
    }
  }
}