.aboutContainer{
  flex-direction: column;


  & h1#about{
    align-self: flex-start;
  }

  &-description{
    @include whSize(100%,auto);
    @include flexCenter(center,center);
    flex-direction: row;

    &-content{
      @include whSize(50%,auto);

      &:first-child{
        align-self: flex-start;
      }
    }
  }
}