.headerContainer{
  @include whSize(100vw, auto);
  @include marginHorizontal(auto,auto);
  position: relative;
  flex-direction: column;
  max-width: $maxWight;

  & .svg-bg{
    align-self: flex-end;
    // @include whSize(58.9rem, 53.8rem);
    @include whSize(calc(60% - 4rem), calc(55% - 4rem));
    @include paddingHorizontal(3%,0%);

    @include respond($bp-medium){
      @include whSize(calc(100%), auto);
      @include paddingHorizontal(0%,0%);
      align-self: center;
    }

    @include respond($bp-small){
      @include whSize(calc(100%), auto);
    }
  }

  & .nameArea{
    position: absolute;
    @include flexCenter(center,center);
    flex-direction: column;
    @include paddingVertical(0,5rem);

    & .nameSize{
      font-size: 12rem;
      font-weight: 700;

      @include respond($bp-medium){
        font-size: 6rem;
      }

      @include respond($bp-small){
        font-size: 4.2rem;
      }

      &.light-color{
        background: linear-gradient(to bottom, $color-light-purple, $color-purple-second);
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    &-description{
      font-size: 2.4rem;

      @include respond($bp-small){
        font-size: 1.6rem;
      }

      &.light-color{
        color: $color-light-purple;
      }
    }

    &-Contacts{
      @include flexCenter(center,center);
      flex-direction: row;
      @include paddingVertical(2rem,0);

      &-Link{
        @include paddingHorizontal(1rem,1rem);

        & .socialMedia-img{
          
          @include respond($bp-small){
            @include whSize(3rem,3rem);
          }
        }
      }

    }
  }

  & .scrollDown{
    position: absolute;
    top: 85%;
    @include border-style(0.2rem,solid,$color-purple);
    border-radius: 50%;
    @include paddingHorizontal(0.5rem,0.5rem);
    @include paddingVertical(0.5rem,0.5rem);
    @include whSize(5rem,5rem);
    @include flexCenter(center,center);
    background-color: transparent;

    &.isDark{
      @include border-style(0.2rem,solid,$color-white);
    }

    @include respond($bp-small){
      @include whSize(3rem,3rem);
    }

    &-icon{
      font-size: 4rem;

      &.light-color-second{
        color: $color-purple;
      }

      @include respond($bp-small){
        font-size: 2rem;
      }
    }
  }
}