.projectsContainer {
  width: 100%;

  & .section-container {
    width: 100%;
    max-width: $maxWight;
  }

  &-projectWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1.5rem;

    @include respond($bp-small) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content;
    }

    &-card:first-child {
      grid-row: span 2;

      @include respond($bp-small) {
        grid-row: span 1;
      }

      & .cardBody {
        height: 45%;

        @include respond($bp-medium) {
          height: auto;
          @include paddingVertical(3rem, 3rem);
        }

        // @include respond($bp-small) {
        //   height: auto;
        //   @include paddingVertical(3rem, 3rem);
        // }
      }

    }

    &-card {
      @include card-style($color-gray-third);
      @include boxShadow(0px, 0.2rem, 0.4rem, 0px, rgba(0, 0, 0, 0.1));
      padding: 0;
      border: 0;
      border-radius: 1rem;
      overflow: hidden;
      transition: all 0.3s;
      cursor: pointer;
      @include whSize(100%, 100%);

      &.dark {
        background-color: $color-gray-third;
      }

      &.light {
        background-color: $color-white;
      }

      &:hover {
        transform: translateY(-0.5rem);
      }

      & .cardHeader {
        overflow: hidden;

        & .card-img {
          display: block;
          width: 100%;
          object-fit: contain;
        }
      }

      & .cardBody {
        @include whSize(100%, auto);
        @include paddingVertical(2rem, 2rem);
        @include paddingHorizontal(2rem, 2rem);
        @include flexCenter(center, flex-start);
        flex-direction: column;
        color: $color-white;

        & .cardTitle {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        & .cardDescription {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }
    }

    &-card:nth-of-type(2),
    &-card:nth-of-type(3) {
      @include flexCenter(center, center);
      flex-direction: row;

      & .cardHeader,
      & .cardBody {
        @include whSize(50%, auto);
      }

      & .cardHeader {
        order: 1;
      }

      @include respond($bp-small) {
        flex-direction: column;

        & .cardHeader {
          @include whSize(100%, 60%);
          order: 0;

          & .card-img {
            margin-top: -13%;
          }
        }

        & .cardBody {
          @include whSize(100%, 40%);
        }
      }
    }
  }

}