.WeContainer{
  flex-direction: column;
 
  &-cards{
    @include whSize(100%,auto);
    @include flexCenter(space-between,center);
    flex-direction: row;
    flex-wrap: wrap;

    &-card{
      @include whSize(31%,auto);
      min-height: 48rem;
      @include paddingVertical(5rem,5rem);
      @include paddingHorizontal(3rem,3rem);
      @include marginHorizontal(1rem,1rem);
      @include marginVertical(1rem,2rem);
      @include flexCenter(space-between,center);
      flex-direction: column;
      background-color: $color-dark-forth;
      border-radius: 1rem;
      box-shadow: 0px 1px 1rem 0.1rem rgba(255, 255, 255, 0.50);

      &.isDark{
        background-color: $color-white;
        box-shadow: 0px 1px 1rem 0.1rem rgba(0, 0, 0, 0.50);
      }

      @include respond($bp-large){
        @include whSize(47%,auto);
      }

      @include respond($bp-medium){
        @include marginHorizontal(0rem,0rem);
        @include whSize(100%,auto);
        min-height: 25rem;
      }

      &:last-child{
        display: none;

        @include respond($bp-large){
          display: flex;
        }
      }


      & h3{
        font-size: 2.8rem;
        @include marginVertical(0rem,2rem);
        text-align: center;
        position: relative;
        z-index: 1;

        &::after{
          content: '';
          display: block;
          background-color: $color-purple;
          @include whSize(90%,1.5rem);
          position: absolute;
          left:50%;
          top: 55%;
          transform: translateX(-50%);
          z-index: -1;
        }

        &.isDark{
          &::after{
            background-color: $color-light-purple-second;
          }
        }

      }

      & p{
        font-size: 2rem;
        text-align: center;
        line-height: 3rem;
      }

      &-skills{
        @include paddingVertical(5rem,1rem);
        @include flexCenter(center,center);
        flex-direction: row;
        flex-wrap: wrap;

        &-img{
          @include marginHorizontal(1rem,1rem);
          @include marginVertical(1rem,1rem);
          max-width: 4.5rem;
          max-height: 4.5rem;

          &.isDark{
            background-color: $color-dark-second;
            border-radius: 50%;
          }

          &.isLight{
            background-color: $color-white;
            border-radius: 50%;
            @include whSize(4rem,4rem);
          }
        }
      }

    }

  }

  // experience
  &-experience{
    @include paddingVertical(5rem,0rem);

    &-collapse{
      @include paddingVertical(1rem,1rem);

      &-head{
        @include paddingVertical(2rem,2rem);
        @include paddingHorizontal(4rem,3rem);
        @include flexCenter(space-between,center);
        flex-direction: row;
        background: var(--Button-color-01, linear-gradient(180deg, $color-purple 0%, $color-purple-second 100%));
        border-radius: 1.5rem;
        cursor: pointer;

        @include respond($bp-small){
          flex-direction: column;
          @include paddingHorizontal(1.5rem,1rem);
        }

        & h4{
          font-size: 2rem;
          font-weight: 700;
          line-height: 3rem;

          @include respond($bp-medium){
            font-size: 1.6rem;
          }
        }

        &-toggleBtn{
          @include flexCenter(center,center);

          @include respond($bp-small){
            @include whSize(100%,auto);
            @include flexCenter(space-between,center);

            & h4{
              align-self: flex-start;
            }
          }

          &-icon{
            @include flexCenter(center,center);
            @include marginHorizontal(3rem,0rem);
            background-color: $color-white;
            border-radius: 50%;
            @include paddingHorizontal(0.7rem,0.7rem);
            @include paddingVertical(0.7rem,0.7rem);
          }
        }
      }

      &-body{
        @include marginVertical(2.5rem,0rem);
        @include paddingVertical(3rem,3rem);
        @include paddingHorizontal(4rem,3%);
        @include flexCenter(space-between,center);
        border-radius: 1.5rem;

        &.isDark{
          background-color: $color-dark-forth;
        }
        
        @include respond($bp-medium){
          flex-direction: column;
        }

        @include respond($bp-small){
          @include paddingHorizontal(1.5rem,1.5rem);
        }
      
        &-left{
          font-size: 2rem;
          @include whSize(70%,auto);

          @include respond($bp-medium){
            @include whSize(100%,auto);
            font-size: 1.6rem;
            order:2;
          }

          & .locationAndLink{
            @include whSize(75%,auto);
            @include flexCenter(space-between,center);
            @include paddingVertical(3rem,0rem);

            @include respond($bp-medium){
              @include whSize(85%,auto);
            }

            @include respond($bp-small){
              flex-direction: column;
              @include flexCenter(flex-start,flex-start);
            }

            & .locationWrap{
              @include flexCenter(flex-start,center);
              @include marginVertical(0rem,1rem);
              flex-direction: row;

              & .locationIcon{
                @include marginHorizontal(0rem,0.5rem);
                @include whSize(2rem,2rem);
              }
              & a{
                text-decoration: none;
              }
            }

          }

          & .description{
            @include marginVertical(4rem,4rem);
            line-height: 3rem;

            @include respond($bp-small){
              @include marginVertical(1.5rem,1.5rem);
            }
          }

          & .relational{
            @include flexCenter(flex-start,center);
            flex-direction: row;
            flex-wrap: wrap;

            & p{
              @include marginHorizontal(0rem,2rem);
              @include marginVertical(1rem,1rem);
              @include paddingHorizontal(2rem,2rem);
              @include paddingVertical(0.7rem,0.7rem);
              background-color: $color-dark-purple;
              border-radius: 10rem;

              @include respond($bp-small){
                @include marginHorizontal(0rem,1rem);
              }
            }
          }
        }

        &-right{
          // @include whSize(30%,auto);
          @include flexCenter(center,center);
          flex:1;

          @include respond($bp-medium){
            order:1;
          }

          & .companyLogo{
            @include whSize(40%,auto);

            @include respond($bp-medium){
              @include whSize(25%,auto);
            }

          }
        }
      }
    }
  }
}