// COLORS
$color-red:#ff0d0d;
$color-orange: #ff7e0d;

$color-white: #fff;

$color-dark: #786b6b;
$color-dark-second: #2B2B2B;
$color-dark-third:#353535;

$color-gray: #0d0c0c;
$color-gray-second:#303030;

$color-purple: #7300FE;
$color-light-purple: #b27ff0;
$color-purple-second: #4700FF;

$color-lightBlue: #9edce9;
$color-lightBlue-second: #12c3e6;

// width 
$maxWight: 1440px;

// height

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 80em; // 1280px
$bp-large: 67.5em; // 1080px
$bp-medium: 54em; // 800px;
$bp-small: 37.5em; // 600px;